main{
    
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -10px;
}
.page-1{
    margin-top: -200px;
    background-image: url("https://knight-bite.com/res/index/app-link-background.svg");
    background-size:cover;
    background-repeat: no-repeat;
}
 #nav{
    display: block;
    margin-top: 8px;
    position: sticky;
    top: 0;
    padding-bottom: 40px;
    background-color: rgba(58, 56, 56, 0.274);
}
#nav #coffee{
    height: 30px;
    width: 30px;
    margin-top: 30px;
    margin-left: 110px;
    border: 1.5px solid white;
    border-radius: 20%;
}
#nav #name{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    display: inline;
    margin-top: 34px;
    margin-left: 10px;
    position: absolute;

}
#nav #navlist{
    display: inline;
    margin-left: 550px;
    margin-top: 33px;
}
#nav #navlist li{
    display: inline;
    margin-left: 30px;
    font-size: 20px;
    font-family:monospace;
    font-weight: bolder;
    color: white;
}
 .page-1 #quote{
    padding-top: 200px;
    font-size: 69px;
    font-family: cursive;
    font-weight: bolder;
    margin-top: 90px;
    margin-left: 1px;
    color: aliceblue;
}
 .page-1 #order{

    margin-left: 533px;
    width: 200px;
    height: 50px;
    border: solid rgb(238, 45, 38) 5px;
    background-color: rgb(238, 45, 38);
    border-radius: 15px;
    font-size: 20px;
    font-weight: bolder;
    color: whitesmoke;
    opacity: 0.9;
}
.page-1 #or{
    text-align:center ;
    font-size: 20px;
    color: aliceblue;
    margin-top: 20px;
}
 .page-1 #appstore{
    position: absolute;
    height: 65px;
    width: 399px;
    margin-left: 260px;
    margin-right: 60px;
    margin-top: 12px;
    margin-bottom: 10px;
}
.page-1 #gplay{
    margin-left: 650px;
    height: 85px;
    margin-top: 5px;
    position: absolute;

}

.page-1 #msg{
    height: 70px;
    width: 70px;
    margin-left: 1130px;
    margin-top: 40px;
    margin-bottom: 10px;
    position: fixed;
}
.navl{
    text-decoration: none;
    color: white;
}
.navl:hover{
    color:blueviolet;
    transition: 0.4s;
    
}
.order{
    text-decoration: none;
    color: white;
}

#appstore:hover{
    height: 60px;
    transition: 0.5s;
}
#gplay:hover{
    height: 80px;
    transition: 0.5s;
}
#msg:hover{
    height: 65px;
    width: 65px;
    transition: 0.3s;
}
/* hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh */
/* hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh */
.page-2{
    margin-top: 60px;
}
.page-2-head{
    font-size: 70px;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.page-2-fig img{
    height: 200px;
    width: 200px;
}
.page-2-fig{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 100px;
    padding-bottom: 100px;
}
.page-2-figs figcaption{
    margin-top: 50px;
    /* margin-left: 20px;
    margin-right: 20px; */
    font-size: 20px;
    text-align: center;
    font-family: monospace;
    margin-left: 20px;
    margin-right: 20px;
}
/* hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh */
/* hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh */
.page-3{
    background-image: url("https://i0.wp.com/jacquifit.com/wp-content/uploads/2015/08/burger-pic-.jpg?resize=630%2C315&ssl=1");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: visible;
}
.page-3-head{
    text-align: center;
    font-size: 120px;
    padding: 400px 60px 400px 60px;
    border: solid;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:bolder;
    color: azure;
}
/* hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh */
/* hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh */

.page-4{
    background-image: url("https://img.freepik.com/premium-photo/overhead-view-hands-type-keyboard-wooden-table-burger-with-mug-tea_259348-6800.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: visible;
    margin-top: -100px;
    border: solid;
}
.page-4-head{
    text-align: center;
    font-size: 120px;
    padding: 300px 60px 00px 60px;
    /* border: solid; */
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:bolder;
    color: azure;
}
.page-4-button{
    /* padding-bottom: 300px; */
    background: none;
    margin-bottom: 100px;
    margin-top: 80px;
    font-size: 30px;
    margin-left: 500px;
    border:  1px solid white;
    border-radius: 25px;
    padding: 10px 25px 10px 25px;
    color:azure;
}
.page-4-button a{
    text-decoration: none;
    color: azure;
}
/* hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh */
/* hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh */
.page-5-contact,.page-5-Links,.page-5-para{
    display: flex;
    flex-direction: column;
    margin-left: 50px; 
}
.page-5-parts{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content:flex-start ;

}
.page-5-contact{
    width: 250px;
}
.page-5-contact h1{
    font-size: 30px;
    margin-left: 25px;
}
.page-5-contact.email,h3,a{
    /* display: flexbox;
    flex-direction: row; */
    display: inline;
    margin-top: 30px;
    font-size: 17px;
}
.page-5-contact .email{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
}
.page-5-contact .email h3{
    margin-left: 10px;
}
.page-5-contact .call h3{
    margin-left: 10px;
    margin-right: 30px;
}
.page-5-contact .call{
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* {
    display: flex;
    flex-direction: column;
    border: solid;
    margin-left: 100px;
    margin-right: 100px;
} */
.page-5-Links{
    width: 200px;
}
.page-5-Links h1{
    margin-left: 20px;
}
.page-5-Links ul{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around;
}
.page-5-Links ul li{
    font-size: 20px;
    margin-top: 20px;
}
.page-5-para{
    width: 600px;
    /*
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: solid;
    */
} 
.page-5-para p,a,input{
    display: inline;
    padding-left: 20px;

}
.page-5-para .a{
    position: absolute;
    margin-left: 410px;
    margin-top: 210px;
}
.page-5-para .a img{
    height: 70px;
    width: 70px;
}
.page-5-para p,input{
    /* margin-left: 200px;
    margin-right: 100px; */
}
.page-5-para p{
    font-size: 20px;
    line-height: 50px;
    margin-right: 30px;
}
.page-5-para input{
    height: 70px;
    width: 450px;
    border-radius: 50px;
    margin-top: 20px;
    margin-left: 20px;
}
.page-5-para input::placeholder{
    font-size: 20px;
    /* text-align: center; */
    margin-top: 20px;
    margin-left: 100px;
}
.page-5-para-fig {
    display: flex;
    flex-direction: row;
}
.page-5-contact .h1{
    margin-top: 80px;
}
.page-5-Links .h1{
    margin-top: 20px;
}
.page-5-para .h1{
    margin-top: 40px;
    margin-left: 20px;
}
.page-5-contact .p{
    margin: 20px;
}
.page-5-Links .p{
    margin: 20px;
    margin-top: -px;
}
.page-5 h4{
    background-color: rgba(119, 43, 191, 0.747);
    text-align: center;
    padding: 20px;
    margin-bottom: -10px;
}